In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import plotly.plotly as py
from plotly import tools
import seaborn as sns
from plotly.offline import init_notebook_mode, iplot
import calendar

In [18]:
init_notebook_mode(connected=True)

In [2]:
path = "Data/gun-violence-data_01-2013_03-2018.csv"
data = pd.read_csv(path,parse_dates=['date'])

In [3]:
data.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 29 columns):
incident_id                    239677 non-null int64
date                           239677 non-null datetime64[ns]
state                          239677 non-null object
city_or_county                 239677 non-null object
address                        223180 non-null object
n_killed                       239677 non-null int64
n_injured                      239677 non-null int64
incident_url                   239677 non-null object
source_url                     239209 non-null object
incident_url_fields_missing    239677 non-null bool
congressional_district         227733 non-null float64
gun_stolen                     140179 non-null object
gun_type                       140226 non-null object
incident_characteristics       239351 non-null object
latitude                       231754 non-null float64
location_description           42089 non-null object
longitude                      231754 non-null float64
n_guns_involved                140226 non-null float64
notes                          158660 non-null object
participant_age                147379 non-null object
participant_age_group          197558 non-null object
participant_gender             203315 non-null object
participant_name               117424 non-null object
participant_relationship       15774 non-null object
participant_status             212051 non-null object
participant_type               214814 non-null object
sources                        239068 non-null object
state_house_district           200905 non-null float64
state_senate_district          207342 non-null float64
dtypes: bool(1), datetime64[ns](1), float64(6), int64(3), object(18)
memory usage: 51.4+ MB

In [5]:
data.describe(include='all')

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
count,2.396770e+05,239677,239677,239677,223180,239677.000000,239677.000000,239677,239209,239677,...,147379,197558,203315,117424,15774,212051,214814,239068,200905.000000,207342.00000
unique,NaN,1725,51,12898,198037,NaN,NaN,239677,213989,1,...,18951,898,873,113488,284,2150,259,217280,NaN,NaN
top,NaN,2017-01-01 00:00:00,Illinois,Chicago,2375 International Pkwy,NaN,NaN,http://www.gunviolencearchive.org/incident/567901,http://blog.tsa.gov,False,...,0::24,0::Adult 18+,0::Male,0::Officer,1::Significant others - current or former,0::Injured,0::Victim,http://blog.tsa.gov,NaN,NaN
freq,NaN,342,17556,10814,160,NaN,NaN,1,1092,239677,...,3814,94671,93496,144,2651,42293,58564,1092,NaN,NaN
first,NaN,2013-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2018-03-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,5.593343e+05,NaN,NaN,NaN,NaN,0.252290,0.494007,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.447132,20.47711
std,2.931287e+05,NaN,NaN,NaN,NaN,0.521779,0.729952,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.048117,14.20456
min,9.211400e+04,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.00000
25%,3.085450e+05,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.000000,9.00000
50%,5.435870e+05,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.000000,19.00000
75%,8.172280e+05,NaN,NaN,NaN,NaN,0.000000,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.000000,30.00000
max,1.083472e+06,NaN,NaN,NaN,NaN,50.000000,53.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,901.000000,94.00000

In [6]:
data['year']=data['date'].dt.year
data['month']=data['date'].dt.month
data['monthday']=data['date'].dt.day
data['weekday']=data['date'].dt.weekday
data['impacted'] = data['n_killed']+data['n_injured']

In [7]:
# function to aggregate and return keys and values
def create_stack_bar_data(col):
    aggregated = df[col].value_counts()
    x_values = aggregated.index.tolist()
    y_values = aggregated.values.tolist()
    return x_values, y_values

# Exploration

Year wise breakdown of Number of Incidents

In [8]:
year_wise_counts = data['year'].value_counts()

In [10]:
years = year_wise_counts.index.tolist()
year_counts = year_wise_counts.values.tolist()

In [13]:
trace1 = go.Bar(x = years, 
                y = year_counts, 
                marker = dict(color = 'rgba(10,220,15,0.6)'))

In [35]:
layout = dict(height = 300, 
              title = 'Yearly breakdown of Gun Violence Incidents in USA', 
              legend = dict(orientation = 'h'))

In [36]:
fig = go.Figure(data = [trace1],layout = layout)

In [37]:
iplot(fig)

Monthly breakdown of Incidents

In [21]:
month_wise_counts = data['month'].value_counts()

In [23]:
months = month_wise_counts.index.tolist()
month_counts = month_wise_counts.values.tolist()

In [32]:
mapper = {}
for m,v in zip(months,month_counts):
    mapper[m] = v

In [33]:
month_name = [calendar.month_abbr[int(X)] for X in sorted(months)]
monthly_counts = [mapper[X] for X in sorted(months)]

In [34]:
trace2 = go.Bar(x=month_name, y=monthly_counts, marker = dict(color = 'rgba(100,20,10,0.6)'))

In [38]:
layout = dict(height = 300, 
              title = 'Monthly breakdown of Gun Violence Incidents in USA', 
              legend = dict(orientation ='h'))

In [39]:
fig2 = go.Figure(data = [trace2],layout = layout)

In [41]:
iplot(fig2)

Day of the month breakdown of Incidents

In [42]:
daily_counts = data['monthday'].value_counts()

In [43]:
days = daily_counts.index.tolist()
day_count = daily_counts.values.tolist()

In [47]:
trace3 = go.Bar(x=days, y=day_count, marker = dict(color = 'rgba(210,120,10,0.6)'))

In [48]:
layout = dict(height = 300, 
              title = 'Daily breakdown of Gun Violence Incidents in USA', 
              legend = dict(orientation = 'h'))

In [49]:
fig3 = go.Figure(data = [trace3],layout = layout)

In [50]:
iplot(fig3)

Day of the week breakdown of Incidents

In [51]:
weekday_count = data['weekday'].value_counts()

In [52]:
weekday = weekday_count.index.tolist()
weekday_counts = weekday_count.values.tolist()

In [58]:
weekday_count

6    37052
5    36096
2    34126
0    33760
1    33307
4    32775
3    32561
Name: weekday, dtype: int64

In [59]:
mapper = {}
for m,v in zip(weekday,weekday_counts):
    mapper[m] = v

In [61]:
weekdays = [calendar.day_abbr[int(X)] for X in sorted(weekday)]

In [63]:
weekday_counts = [mapper[X] for X in sorted(weekday)]

In [70]:
weekdays

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [67]:
weekday_counts

[33760, 33307, 34126, 32561, 32775, 36096, 37052]

In [71]:
trace4 = go.Bar(x=weekdays, y=weekday_counts, marker = dict(color = 'rgba(21,10,250,0.6)'))

In [72]:
layout = dict(height = 300, 
              title = 'Day of the week breakdown of Gun Violence Incidents',
              legend = dict(orientation = 'h'))

In [75]:
fig4 = go.Figure(data = [trace4],layout=layout)

In [76]:
iplot(fig4)